.form-group {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.btn-primary {
    color: white;
    background-color: #30475e;
    border: none;
    box-shadow: none; /* Removes blue halo */
}
