@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

nav{
    display: flex;
    justify-content: center;
    background-color: #f05454;
    border-bottom: 10px solid #222831;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Bebas Neue', cursive;
}

.filter{
    color: rgb(197, 65, 65);
    opacity: 0;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-family: 'Bebas Neue', cursive;
}

.filter:hover{
    opacity: 1;
}

tr {
    font-family: 'Bebas Neue', cursive;
    text-align: justify;
}

footer{
    background-color: #30475e;
    border-top: 4px solid black;
    padding-bottom: 2px;
    line-height: 1;
    font-family: 'Bebas Neue', cursive;
}

.footer{
    display: flex;
    justify-content: space-around;
}